services:
  api:
    # Uncomment this while deployment
    image: ${ECR_URI}/text-summarizer-api:latest
    container_name: summarizer-api
    ports:
      - "8000:8000"
    
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: ${AWS_REGION}
  
  ui:
    image: ${ECR_URI}/text-summarizer-ui:latest
    container_name: summarizer-ui
    ports:
      - "8501:8501"
    depends_on:
      - api
    environment: 
      API_URL: http://api:8000/predict
