services:
  api:
    build: 
      context: .
      dockerfile: api.Dockerfile
    container_name: text_summarization_api
    ports:
      - "8000:8000"
    restart: always

  ui:
    build: 
      context: .
      dockerfile: streamlit.Dockerfile
    container_name: text_summarization_ui
    ports:
      - "8501:8501"
    depends_on:
      - api
    restart: always
