--extra-index-url https://download.pytorch.org/whl/cu128

torch
transformers
transformers[sentencepiece]
datasets
sacrebleu 
rouge_score 
py7zr
pandas
nltk
tqdm
PyYAML
matplotlib
python-box
ensure
fastapi
uvicorn[standard]
notebook
bitsandbytes
accelerate
evaluate
streamlit==1.31.1
altair==5.2.0

-e .